<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Novo Time</h5>
                </button>
            </div>

            <div class="modal-body">
                <form action="/create_time" method="post">
                    <div class="form-group">
                        <label for="">Nome</label>
                        <input type="text" class="form-control" name="nomeTime" required placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="">Cateroria</label>
                        <select class="form-control" name="id_categoria" required>
                            <option value="" selected="selected" disabled="disabled">Categorias</option>
                            
                            <% categorias.forEach(categoria=> { %>
                                <option value="<%= categoria.id_categoria %>">
                                    <%= categoria.nome %> - <% if (categoria.sexo===0) { %>
                                        MASCULINO
                                        <% } else if (categoria.sexo===1) { %>
                                        FEMININO
                                        <% } %>
                                </option>
                                <% }) %>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>