<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receptor <%= transmissao.nome %>
    </title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="icon" href="/pictures/sistem/logo_podium.png" type="image/png">

    <link rel="stylesheet" href="receptor/style.css">
</head>

<body>
    <div id="app">
        <main class="widgets_content">
            <section v-show="transmissao.placar_visibilidade" class="glass scorebord"
                :style="{ left: transmissao.placar_x + 'vw', top: transmissao.placar_y + 'vh',zoom: transmissao.placar_z + '%'}">
                <strong>{{transmissao.partida}}t</strong>
                <div class="cronometro">
                    <strong>{{ transmissao.minuto < 10 ? '0' + transmissao.minuto : transmissao.minuto }}</strong>
                            <strong>:</strong>
                            <strong>{{ transmissao.segundo < 10 ? '0' + transmissao.segundo :
                                    transmissao.segundo}}</strong>
                </div>
                |
                <strong class="name">{{transmissao.nome_time1}}</strong>
                <strong class="points  glass">{{transmissao.pontos_time1}}</strong>
                <strong class="points glass">{{transmissao.pontos_time2}}</strong>
                <strong class="name">{{transmissao.nome_time2}}</strong>

            </section>
            <section class="rotativo " v-show="transmissao.rotativo_visibilidade"
                :style="{ left: transmissao.rotativo_x + 'vw', top: transmissao.rotativo_y + 'vh',zoom: transmissao.rotativo_z + '%'}">
                <img class="rotativo_img" :key="carrosel.imagemAtual" v-bind:src="carrosel.imagemAtual">
            </section>

        </main>
        <section v-show="transmissao.overlay_visibilidade" class="merchan">
            <img class="carrosel" v-bind:src="transmissao.fundo">
        </section>
        <section v-show="transmissao.logo_visibilidade">
            <img class="logo" v-bind:src="transmissao.logo"
                :style="{ left: transmissao.logo_x + 'vw', top: transmissao.logo_y + 'vh',zoom: transmissao.logo_z + '%'}">
        </section>
        <section class="rotativo " v-show="transmissao.rotativo_visibilidade"
            :style="{ left: transmissao.rotativo_x + 'vw', top: transmissao.rotativo_y + 'vh',zoom: transmissao.rotativo_z + '%'}">
            <img class="rotativo_img" :key="carrosel.imagemAtual" v-bind:src="carrosel.imagemAtual">
        </section>
    </div>
</body>
<script>
    window.addEventListener("load", async () => {
        appp.transmissao.id_transmissao = "<%= transmissao.id_transmissao %>"
        const send = {
            id_socket: socket.id,
            cliente: 'tx',
            tipo: "transmissao",
            id_transmissao: "<%= transmissao.id_transmissao %>"
        }
        socket.emit("transmissao", send)
        await appp.listen()
        // appp.atualizarCarrosel()
        await appp.proximo()
        await appp.carrosel_play()

    })

</script>
<script src="/socket.io/socket.io.js"></script>
<script src="receptor/rx.js"></script>

</html>