<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receptor <%= transmissao.nome %>
    </title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="icon" href="/pictures/sistem/logo_podium.png" type="image/png">

    <link rel="stylesheet" href="receptor/style.css">
</head>

<body>
    <div id="app">
        <main class="widgets_content">
            <section v-show="transmisao.placar_visibilidade" class="glass scorebord"
                :style="{ left: transmisao.placar_x + 'vw', top: transmisao.placar_y + 'vh',zoom: transmisao.placar_z + '%'}">
                <strong >{{jogo.partida}}t</strong>
                <div class="cronometro">
                    <strong >{{ transmisao.minuto < 10 ? '0' + transmisao.minuto : transmisao.minuto }}</strong>
                    <strong >:</strong>
                    <strong >{{ transmisao.segundo < 10 ? '0' + transmisao.segundo : transmisao.segundo}}</strong>
                </div>
                |
                <strong class="name">{{jogo.nome_time1}}</strong>
                <strong class="points  glass">{{jogo.pontos_time1}}</strong>
                <strong class="points glass">{{jogo.pontos_time2}}</strong>
                <strong class="name">{{jogo.nome_time2}}</strong>

            </section>
            <section class="rotativo " v-show="transmisao.rotativo_visibilidade"
                :style="{ left: transmisao.rotativo_x + 'vw', top: transmisao.rotativo_y + 'vh',zoom: transmisao.rotativo_z + '%'}">
                <img class="rotativo_img" :key="carrosel.imagemAtual" v-bind:src="carrosel.imagemAtual">
            </section>

        </main>
        <section v-show="transmisao.overlay_visibilidade" class="merchan">
            <img class="carrosel" v-bind:src="transmisao.fundo">
        </section>
        <section v-show="transmisao.logo_visibilidade">
            <img class="logo"  v-bind:src="transmisao.logo" :style="{ left: transmisao.logo_x + 'vw', top: transmisao.logo_y + 'vh',zoom: transmisao.logo_z + '%'}">
        </section>
        <section class="rotativo " v-show="transmisao.rotativo_visibilidade"
            :style="{ left: transmisao.rotativo_x + 'vw', top: transmisao.rotativo_y + 'vh',zoom: transmisao.rotativo_z + '%'}">
            <img class="rotativo_img" :key="carrosel.imagemAtual" v-bind:src="carrosel.imagemAtual">
        </section>
        <section v-if="jogo.idjogo">
            
        </section>
        <section v-else="jogo.idjogo" class="merchan">
            <h1>AGUARDADO CONEXÃO COM O TRANSMISSOR..</h1>
        </section>
    </div>
</body>
<script>
    window.addEventListener("load", async () => {
        appp.transmisao.id_transmissao = "<%= transmissao.id_transmissao %>"
        appp.transmisao.id_placar = "<%= transmissao.id_placar %>"
        await appp.listen()
        // appp.atualizarCarrosel()
        await appp.proximo()
        await appp.carrosel_play()

    })

</script>
<script src="/socket.io/socket.io.js"></script>
<script src="receptor/rx.js"></script>

</html>