<section class="section card1">
    <div class="linha">
        <h4>Rotativo</h4>
        <label class="switch">
            <input type="checkbox" v-model="transmisao.rotativo_visibilidade"
                v-on:change="rotativo_visibilidade_tx">
            <span class="slider"></span>
        </label>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#rotativo_collapseOne" aria-expanded="true" aria-controls="rotativo_collapseOne">
                    Posição
                </button>
            </h2>
            <div id="rotativo_collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="linha" style="justify-content: end;">
                        <a href="/carrossel"><i class="fas fa-link"></i></a>
                        <div class="linha"> <div></div><i class="fas fa-lock"></i></div>
                    </div>
                    <div class="coluna">
                        
                        <small>Largura</small>
                        <div class="PB-range-slider-div">
                            <input type="range" min="0" max="100" v-model="transmisao.rotativo_x"
                                class="PB-range-slider"  v-on:input="rotativo_x_tx">
                            <small class="PB-range-slidervalue">{{transmisao.rotativo_x}}%</small>
                        </div>
                        <small>Altura</small>
                        <div class="PB-range-slider-div">
                            <input type="range" min="0" max="150" v-model="transmisao.rotativo_y"
                                class="PB-range-slider" v-on:input="rotativo_y_tx">
                            <small class="PB-range-slidervalue">{{transmisao.rotativo_y}}%</small>
                        </div>
                        <small>Tamanho</small>
                        <div class="PB-range-slider-div">
                            <input type="range" min="0" max="100" v-model="transmisao.rotativo_z"
                                class="PB-range-slider" v-on:input="rotativo_z_tx">
                            <small class="PB-range-slidervalue">{{transmisao.rotativo_z}}%</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>