<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload de Imagem</h5>
                </button>
            </div>
            <div class="modal-body">
                <form action="/create_carrosel" method="post"  enctype="multipart/form-data">
                    <div class="linha">
                        <div class="form-group">
                            <label for="checkbox" class="col-form-label">Ativo</label>
                            <input class="form-check-input" type="checkbox" name="ativo" id="checkbox" checked required >
                        </div>
                        <div class="form-group">
                            <label for="duracao" class="col-form-label">Duracão</label>
                            <input class="form-control" value="20" type="number" style="width: 70px;" name="duracao" required
                                id="duracao">
                        </div>
                        <div class="form-group">
                            <label for="imagem" class="col-form-label">Escolher Imagem</label>
                            <input type="file" class="form-control" style="width: 142px;" name="imagem" id="imagem" required>
                        </div>
                    </div>
                    <div class="modal-footer" style="margin-top: 12px;">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>