<section class="section card1">
    <div class="linha">
        <h4>Link</h4>
        <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
        </label>
    </div>
    <div class="coluna">
        <div class="linha">
            <input class="form-control" type="text" placeholder="Link">
        </div>
    </div>
</section>