<div class="modal fade" id="exampleModalMerchan" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Imagem Merchan</h5>
                </button>
            </div>
            <div class="modal-body">
                <form action="/create_merchan" method="post" enctype="multipart/form-data">
                    <div class="linha">
                        <div class="form-group">
                            <label for="imagem" class="col-form-label">Escolher Imagem</label>
                            <input type="file" class="form-control" style="width: 142px;" name="imagem" id="imagem">
                        </div>
                    </div>
                    <input type="text" name="id_transmicao" style="display: none;"  value="<%= transmissao.id_transmissao %>">
                    <input type="text" name="idjogo" style="display: none;" value="<%= jogo.idjogo %>"  >
                    
                    <div class="modal-footer" style="margin-top: 12px;">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>